
.dashboard {
    margin: 5%;
    color: #666;
    text-align: center;
    height: 100%;

    textarea {
        margin: 2em 0;
        border: 0;
        border-left: 1px solid #eee;
        // border-radius: 5px;
        padding: 6px;
        font-family: inherit;
        width: 100%;
        height: 100%;
        resize: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #eee;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #eee;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #eee;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #eee;
    }

    .welcome {
        margin-bottom: 0.5em;
    }

    .welcome,
    .instruction {
        font-size: 1.2em;
        visibility: hidden;
        -webkit-animation: 3s fadeIn;
        animation: 3s fadeIn;
        animation-fill-mode: forwards; /* Keep visible at end */
        animation-timing-function: ease-in-out;
    }

    .instruction {
        font-size: 1em;
        animation-delay: 2s;
        animation-timing-function: ease;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}

/* Standard syntax */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}